body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/imgCarouselAndTitle/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hdr {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.logo {
    background-color: rgb(36, 187, 174);
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-right: 1%;
    border-radius: 50%;
}

.logo:hover {
    background-color: blueviolet;
}


.kb {
    text-decoration: none;
    font-size: 200%;
    color: rgb(36, 187, 174);
    font-weight: 800;
}

.kontakthdr {
    text-decoration: none; 
    font-size: 150%;
    color: rgb(36, 187, 174);
    font-weight: 800;
}

.kontakthdr:hover {
    color:blueviolet
}

.bloghdr {
    text-decoration: none; 
    font-size: 150%;
    color: rgb(36, 187, 174);
    font-weight: 800;
}

.bloghdr:hover {
    color:blueviolet;
}

.dropdown {
    left: 70%;
}

.dropdown-menu {
    background-color: rgb(36, 187, 174);
}


.dropdown-item {
    color:blueviolet;
    background-color: rgb(36, 187, 174);
}

.dropdown-item:hover {
    color:rgb(36, 187, 174);
    background-color: blueviolet;
}
/* für alle Bilder */
.bilder {
    width:100%;
    z-index: 1;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
/* Alle Blog Container */
.blog {
    display:block;
    width: 100%;
}
/* Alle Blog Titel */
.ttl {
    z-index: 2;
    position: relative;
    background-color: rgb(0, 0, 0, 0.7);
    color:rgb(36, 187, 174);
    font-size: 400%;
    width: 100%;
    padding-left: 2%;
    margin-top: -18.1%;
    padding: 6.5%

}

.txt {
    background-color: rgb(255, 255, 255,0.7);
    margin-top: -1.8%;
    padding:5%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-bottom: 10%;
}

.ftr {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around
}

.kontaktftr {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 187, 174);
    width: 8%;
    height: auto;
    font-weight: 700;
    border:none;
    border-radius: 10%;
    color:blueviolet;

}

.kontaktftr:hover {
    background-color: blueviolet;
    color:rgb(36, 187, 174)
}

.social-media {
    margin-top: 2%;
}

.insta {
    height:60%
}

.facebook{
    height:60%
}

.x{
    height:60%
}

.pinterest{
    height:60%;
}
/* Damit es mittig ist */
.rechte{
    margin-left:10%;
    color:grey;
}