body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hdr {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.title {
     display:block;
    width:fit-content;
    color:rgb(36, 187, 174);
    font-size: 500%;
    text-align:center;
    position: absolute;
    top: 40%;
    left: 43%;
    font-weight: 1000;
    background-color: rgb(0, 0, 0, 0.5);
}

.blogbtn {
    text-decoration: none;
    display:block;
    background-color: rgb(0, 0, 0);
    width:fit-content;
    color:rgb(36, 187, 174);
    font-size: 300%;
    padding-left: 5%;
    padding-right: 5%;
    text-align:center;
    position: absolute;
    top: 60%;
    left: 42%;
    font-weight: 800;
    
}

.blogbtn:hover {
    color:blueviolet;
}

.logo {
    background-color: rgb(36, 187, 174);
    border-radius: 100%;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-right: 1%;
    
}

.logo:hover {
    background-color: blueviolet;
}


.kb {
    text-decoration: none;
    font-size: 200%;
    color: rgb(36, 187, 174);
    font-weight: 800;
}

.kontakthdr {
    text-decoration: none; 
    font-size: 150%;
    color: rgb(36, 187, 174);
    font-weight: 800;
}

.kontakthdr:hover {
    color:blueviolet
}

.bloghdr {
    text-decoration: none; 
    font-size: 150%;
    color: rgb(36, 187, 174);
    font-weight: 800;
}

.bloghdr:hover {
    color:blueviolet;
}

.dropdown {
    left: 70%;
}

.dropdown-menu {
    background-color: rgb(36, 187, 174);
}


.dropdown-item {
    color:blueviolet;
    background-color: rgb(36, 187, 174);
}

.dropdown-item:hover {
    color:rgb(36, 187, 174);
    background-color: blueviolet;
}

.ftr {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-around;
    padding-left:15%;
    padding-right:10%;
    height: 8%;
    width:100%;

}

.kontaktftr {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 187, 174);
    width: 10%;
    height: auto;
    font-weight: 700;
    border:none;
    border-radius: 10%;
    color:blueviolet
}

.kontaktftr:hover {
    background-color: blueviolet;
    color:rgb(36, 187, 174)
}

.social-media {
    margin-top: 2%;
}

.insta {
    height:60%
}

.facebook{
    height:60%
}

.x{
    height:60%
}

.pinterest{
    height:60%;
}
/* Damit es mittig ist */
.rechte{
    margin-left:10%;
    color: grey;
}